.formularioProducto {
  font-size: 1rem;
  font-weight: bold;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formularioProducto form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.formularioProducto form .item {
  display: flex;
  flex-direction: column;
}
